# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env*
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Local virtual environments
pip-wheel-metadata/
.venv-1/
game/.venv-1/

# Misc
*.swp
.DS_Store
Thumbs.db
